{{!< main}}

{{#contentFor 'title'}}
    <title>Login</title>
{{/contentFor}}
<h1> Login </h1>
<form action="/login" method="post">
    <p>
        <input type="text" name="username" placeholder="username">
    </p>
    <p>
        <input type="password" name="password" placeholder="password">
    </p>
    <input type="submit">
</form>


